a {
  text-decoration: none;
}
.image-today {
  width: 60px;
  padding-right: 10px;
}
.today {
  text-align: left;
  margin-bottom: 15px;
}
h4 {
  display: inline;
}
.units {
  display: inline-block;
  font-size: x-small;
  vertical-align: text-top;
}
.units .active {
  color: black;
  cursor: pointer;
}
.more-info {
  margin-top: 50px;
  margin-bottom: 1px;
  text-align: left;
}
.humidity,
.wind {
  font-size: small;
  list-style: none;
}
