h1 {
  display: inline;
  margin-bottom: 10px;
}
li {
  font-size: small;
}

svg {
  display: inline;
  width: 100px;
}
.humidity,
.wind {
  font-size: small;
  list-style: none;
}
.links {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
  margin-top: 20px;
}
.more-info ul {
  text-align: left;
  padding-inline-start: 0;
  margin-top: 20px;
}
.more-info h6 {
  margin-bottom: 0;
}
.today {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 20px;
}
.units {
  display: inline;
  font-size: small;
  vertical-align: middle;
  padding-left: 10px;
}
.unit-separator {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 0 3px;
}
.Weather .btn-primary {
  background: white;
  color: black;
  border: 1px solid #aaa69d;
  line-height: 1.5;
}
.Weather .form-control {
  border: 1px solid #aaa69d;
}
.forecast-row {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 0;
}
